<footer class="navbar-default">
  <ul class = "nav nav-justified">
    <li><a href=<%= new_ad_url %>>Подать объявление</a></li>
    <li><a href=<%= root_url%>>Объявления</a></li>
    <li><a href="#">Помощь</a></li>
    <li><a href="#">Безопасность</a></li>
    <li><a href="#">Реклама на сайте</a></li>
    <li><a href="#">О компании</a></li>
  </ul>
  <div class="text-justify"><p>© <%=InfoHelper::NAME_SITE %> — сайт объявлений. Использование сайта, в том числе подача объявлений, означает согласие с <a href=<%=info_convention_path %>>пользовательским соглашением</a>.
    Оплачивая услуги на сайте, вы принимаете <a href=<%= info_offer_url %>> оферту</a>.</p>  </div>
</footer>

