<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @propert.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @propert.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @propert.value %>
</p>

<%= link_to 'Edit', edit_propert_path(@propert) %> |
<%= link_to 'Back', properts_path %>
